<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script defer src="../javascript/home.js"></script>

</head>

<body>
    <div class="float-chat" id="chat-button">
        <i class='bx bx-chat' style='color:#fffcfc'></i>
    </div>

    <div id="chat-pop-up" class="chat-pop-up">
        <div class="chat" onclick="ChatOpen()">
            <a href="#"><img id="chat-profile" src="../IMG/Untitled.png" alt=""></a>
            <span>Friend 1</span>
        </div>
        <div class="chat" onclick="ChatOpen()">
            <a href="#"><img id="chat-profile" src="../IMG/Untitled.png" alt=""></a>
            <span>Friend 2</span>
        </div>
        <div class="chat" onclick="ChatOpen()">
            <a href="#"><img id="chat-profile" src="../IMG/Untitled.png" alt=""></a>
            <span>Friend 3</span>
        </div>
        <div class="chat" onclick="ChatOpen()">
            <a href="#"><img id="chat-profile" src="../IMG/Untitled.png" alt=""></a>
            <span>Friend 4</span>
        </div>
    </div>

    <div id="float-chat-user" class="float-chat-user">
        <div class="top">
            <div class="infoooo">
                <div class="info">
                   <a href="#"><img id="chat-profile" src="../IMG/Untitled.png" alt=""></a>
                </div>
                <span>Friend 1</span>
            </div>
            <div class="exit">
                <i class='bx bx-x' onclick="closechat()"></i>
            </div>
            
        </div>
        <div class="chat-text">

        </div>
        <div class="bottom">
            <div class="split">
                <a href=""><i class='bx bxs-photo-album'></i></a>
                <a href=""><i class='bx bxs-location-plus'></i></a>
                <a href=""><i class='bx bxs-file-gif'></i></a>
            </div>
            <div class="send-text">
                <input type="text">
                <i class='bx bx-send'></i>
            </div>
        </div>
    </div>

    <div id="pop-up-post" class="post-popup">
        <div id="postdisplayed" class="pop-up">
            <form id="usrp" class="user_post_form" action="/user/create_post" method="post" enctype="multipart/form-data">
                <div class="user_profile_">
                    <div class="left">
                        <img id="profile" src="../IMG/Untitled.png" alt="">
                        <a href="">Somchai_UP</a>
                    </div>

                    <div class="right">
                        <i class='bx bx-x' onclick="close_pop_up()"></i>
                    </div>

                </div>
                <div class="post_">
                    <textarea name="caption" id="" placeholder="Create your event"></textarea>
                </div>
                <div class="add_more">
                    <div class="icons">
                        <label for="image"><i class='bx bxs-photo-album'></i></label>
                        <input type="file" id="image" name="image" accept="image/*">
                        <!-- <a href=""><i class='bx bxs-photo-album'></i></a> -->
                        <!-- <a href=""><i class='bx bxs-location-plus'></i></a>
                        <a href=""><i class='bx bxs-file-gif'></i></a> -->
                    </div>
                    <div class="post">
                        <button type="submit" onclick="close_pop_up()">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="nav">
        <div class="left">
            <a href="">
                <a href="home.html"><img style="width: 40px;" src="../IMG/Logo2.png"></a>
            </a>
            <input type="text" placeholder="search">
            <i class='bx bx-search'></i>
        </div>
        <div class="right">
            <a href="home.html"><i class='bx bx-home' style='color:#fffcfc'></i></a>
            <!-- <i class='bx bx-bell' style='color:#fffcfc'></i> -->
            <i id="chat" class='bx bx-chat' style='color:#fffcfc'></i>
            <a href="/profile"><img style="width: 40px;" src="../IMG/Untitled.png"></a>
        </div>
    </div>

    <div class="content">
        <div class="sidebar">
            <a href=""><img src="../IMG/ball-of-basketball.png">Basketball</a>
            <a href=""><img src="../IMG/runer-silhouette-running-fast.png"> Run</a>
            <a href=""><img src="../IMG/football.png">Football</a>
            <a href=""><img src="../IMG/game.png">Futsal</a>
            <a href=""><img src="../IMG/badminton.png">Badminton</a>
            <a href=""><img src="../IMG/volleyball.png">Volleyball</a>
            <a href=""><img src="../IMG/sport.png">Thai Boxing</a>
        </div>
        <div class="all_post">
            <div class="post">
                <img id="profile" src="../IMG/Untitled.png">
                <div class="create">
                    <a class="postbutton" id="postbutton">Create your event</a>
                    <div class="add">
                        <a href=""><i class='bx bxs-photo-album'></i></a>
                        <a href=""><i class='bx bxs-location-plus'></i></a>
                        <a href=""><i class='bx bxs-file-gif'></i></a>
                    </div>
                </div>

            </div>
            <div class="user_post">
                <div class="posts">
                    <div class="pros">
                        <img src="../IMG/Untitled.png">
                        <p>Somchai_UP</p>
                    </div>
                    <div>
                        <a href="#"><i class='bx bx-dots-vertical-rounded'></i></a>
                    </div>
                </div>
                <div class="title">
                    <p>หาเพื่อนตีแบตค่ะ😥 #แบดมินตัน เวลานัด 17.00</p>
                </div>
                <div class="badmi">
                    <img src="../IMG/badminton.webp">
                </div>
                <div class="icon">
                    <a href=""><i class='bx bxs-heart'></i>Interested</a>
                    <a href=""><i class='bx bxs-comment-detail'></i>Comment</a>
                    <a href=""><i class='bx bx-group'></i>Join</a>
                    <a href=""><i class='bx bxs-share'></i>Share</a>
                </div>
            </div>
            <div class="user_post">
                <div class="posts">
                    <div class="pros">
                        <img src="../IMG/Untitled.png">
                        <p>Somchai_UP</p>
                    </div>
                    <div>
                        <a href="#"><i class='bx bx-dots-vertical-rounded'></i></a>
                    </div>
                </div>
                <div class="title">
                    <p>หาเพื่อนตีแบตค่ะ😥 #แบดมินตัน เวลานัด 17.00</p>
                </div>
                <div class="badmi">
                    <img src="../IMG/badminton.webp">
                </div>
                <div class="icon">
                    <a href=""><i class='bx bxs-heart'></i>Interested</a>
                    <a href=""><i class='bx bxs-comment-detail'></i>Comment</a>
                    <a href=""><i class='bx bx-group'></i>Join</a>
                    <a href=""><i class='bx bxs-share'></i>Share</a>
                </div>
            </div>
            
        </div>
        <div class="tag">
            <p>Interesting activities</p>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># แบดมินตัน</a>
            </div>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># บาส 4 คน</a>
            </div>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># วอลเลย์ หญิงล้วน</a>
            </div>
            <div class="pop">
                <span style="color: red;">Popular</span>
                <a href=""># หาเพื่อนวิ่ง</a>
            </div>
        </div>
    </div>

</body>

</html>