<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing up</title>
    <link rel="stylesheet" href="../css/sing up2.css">
</head>

<body>
    <div class="login">
        <div class="left">
            <h1>Welcome</h1>
            <img src="../IMG/Logo2.png" alt="Logo" class="logo">
            <p>Your prefect workout buddy is just a <span class="highlight">click away!!!</span></p>
        </div>

        <div class="right">
            <h2>Sing up</h2>

            <form action="/register/sing-up2" method="post">
                <label>Gender</label><br>
                <div class="box" id="yy">
                    <label>
                        <input type="checkbox" name="option" value="Men">Men
                    </label><br>

                    <label>
                        <input type="checkbox" name="option" value="Female">Female
                    </label><br>

                    <label>
                        <input type="checkbox" name="option" value="Not specified">Not specified
                    </label><br>
                </div><br>
                <label for="Age">Age</label>
                <input type="text" id="age" name="age" placeholder=" 18-99+">
                <label for="distance">Distance</label>
                <input type="text" id="distance" name="distance" placeholder=" 18-99 km.">

                <div class="gg">
                    <button type="submit">Next</button>
                </div>
                <%=locals?.msg?msg:""%>
            </form>
        </div>
    </div>
</body>

</html>