<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="sing up1.css">
</head>

<body>
    <div class="login">
        <div class="left">
            <h1>Welcome</h1>
            <img src="../IMG/Logo2.png" alt="Logo" class="logo">
            <p>Your prefect workout buddy is just a <span class="highlight">click away!!!</span></p>
        </div>

        <div class="right">
            <h2>Sign up</h2>
            <form action="sing up2.html">
                <label for="email">Email</label>
                <input fype="email" id="email" placeholder="Enter Email">
                <label for="username">User name</label>
                <input fype="text" id="username" placeholder="User name">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Password">
                <div class="gg">
                <button type="submit">Next</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>