@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: blueviolet;
} */
.login {
    display: flex;
    width: 100%;
    height: 100vh;
    background: white;
    /* border-radius: 10px; ตัดขอบให้มน */
    overflow: hidden;
}

.left,
.right {
    flex: 1;
    padding: 30px;
    /* ระยะจากขอบกับตัวหนังสือ*/
    display: flex;
    flex-direction: column;
    /*จัดเรียงลูกในแนวตั้ง (จากบนลงล่าง) */
    justify-content: center;
    align-items: center;
    box-shadow: -10px 2px 20px 0px rgba(0, 0, 0, 0.41);
}

.left {
    background-color: white;
    text-align: center;
}

.left h1 {
    font-size: 2.5rem;
    color: #DC303B;
    margin-bottom: 90px;
}

.left .logo {
    width: 200px;
    margin-bottom: 90px;
}

.left p {
    font-size: 1.2rem;
    color: black;
}

.left .highlight {
    color: #DC303B;
    font-weight: bold;
    /* ทำให้ใหญ่เน้นตัวอักษร*/
}

.right h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
    /*ระยะห่างจากกรอบช่อง*/
}

form {
    width: 80%;
}

form label {
    font-family: 1rem;
    color: black;
    margin-bottom: 5px;
    display: block;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /*ระยะห่างที่กำหนดทุกอย้าง*/
    display: block;
    border-radius: 7px;
    border: 0.5px solid gray;
}

.gg button {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #DC303B;
    color: white;
    border: none
}

.gg {
    display: flex;
    justify-content: center;
}
.gg button:hover{
    background-color: #97000a;
}
